@media only screen and (max-width: 320px) {
  .botton-group button {
    padding: 3px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .botton-group button {
    padding: 3px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .botton-group button {
    padding: 3px;
    margin-bottom: 10px;
  }
}